
* {
    font-family: 'DotGothic16', sans-serif;
    box-sizing: border-box;
}
body {
    margin: 0 0 80px 0;
    background-color :#fafafa;
    user-select: none;
    /*background-color :#FBC02D;*/

}
header, footer{
    width: 100%;
    border: #C83946 solid 10px;
    background-color: #fafafa;
    z-index: 2;
}
header{
    border-radius: 0 0 50px 50px;
}
header *{
    display: inline-block;
    vertical-align: bottom;
}
header p{
    font-family: 'DotGothic16', monospace;
    font-size: 20px;
    vertical-align: baseline;
}
header h1{
    margin-bottom: 0;
}
.img-header{
    width: 150px;
    height: auto;
    transform: translate(0px, 20px);
}
header span{
    margin: 0 15% 0 15%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer {
    border-radius: 50px 50px 0 0;
    position: fixed;
    bottom: 0;
    text-align: center;
    height: 80px;
}
footer a img{
    height: 20px;
    width: auto;
}
footer span{
    color: #C83946;
}
footer a:hover {
    color: #2cbe48;
    transition-duration: .6s;
}


/* Pokémon List ---------------------------------------------------------- */
.list-pokemon{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f6b5b5;
    padding-top: 8px;
}

.list-item-pokemon {
    align-items: center;
    color: black;
    padding: 20px;
    margin: 20px;
    text-transform: capitalize;
    border-radius: 5px;
    width: 25%;
    height: 200px;
    text-align: center;
    cursor: url("../img/favicon.ico");
    box-shadow: 5px 5px 15px #0c092977;
    transition: all .3s;
    background: #ecf0f1;
    border: #7f7f7f solid 1px;
    border-radius: 5px;
}

.list-item-pokemon:hover{

    transform: scale(1.05);
}

/* Pokémon Sprite ---------------------------------------------------------- */

.list-item-pokemon .sprites-container {
    position: relative;
    width: 96px;
    height: 96px;

}
.list-item-pokemon .sprite {
    position: absolute;
    width: 96px;
    height: 96px;
}

/* Pokémon Type ---------------------------------------------------------- */

.list-item-pokemon .poketype{
    position: relative;
    display: flex;
    bottom : -40px;
}

/* Pokémon ID ---------------------------------------------------------- */

.list-item-pokemon .pokeid {
    position: absolute;
    margin : 0 auto;
    margin : auto 0;
    font-size: 1.5em;
}

/* Pokémon Name ---------------------------------------------------------- */

.list-item-pokemon .pokename {
    position: absolute;
    font-size: 1.2em;
}

.pokeinfo{
    display: none;
    position: fixed;
    background-color: #B71C1C;
    width: 800px;
    height: 750px;
    border-radius: 3px;
    opacity: 0.95;
    z-index: 3;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 15px #130f40a9;
}

.pokeinfo h2{
    font-family: Montserrat, sans-serif;
    color: white;
    position: absolute;
    top: 10px;
}

.pokeinfoname{
    font-family: Montserrat, sans-serif;
    color: white;
    position: absolute;
    text-transform: capitalize;
    top: 60px;
    font-size: 20px;
}

.close-button{
    font-family: Montserrat, sans-serif;
    color: white;
    cursor: pointer;
    position: absolute;
    bottom : 20px;
    text-align: center;
    padding: 20px;
    border: 2px solid white;
    border-radius: 2px;
 
}

.close-button2{
    font-family: Montserrat, sans-serif;
    color: white;
    cursor: pointer;
    position: absolute;
    bottom : 20px;
    text-align: center;
    padding: 20px;
    border: 2px solid white;
    border-radius: 2px;
 
}

.close-button:hover, .close-button2:hover, .submit:hover{
    background-color: rgba(255, 255, 255, 0.123);
}

.pokeinfo .pokeinfotype{
    color: white;
    top: 400px;
    position: absolute;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    left: 20px;
    text-transform: capitalize;

}

.pokeinfo .pokeinfoabilities{
    color: white;
    top: 350px;
    position: absolute;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    left: 20px;
    text-transform: capitalize;


}

.pokeinfo .pokeheight{
    color: white;
    top: 450px;
    position: absolute;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    left: 20px;
}

.pokeinfo .pokeweight{
    color: white;
    top: 500px;
    position: absolute;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    left: 20px;
}


.infosprite{
    position: absolute;
    width: 300px;
    height: 300px;
    top : 80px;
    left: 100px;

}

.infosprite2{
    position: absolute;
    width: 300px;
    height: 300px;
    top : 80px;
    right: 100px;

}

.shinyform{
    color: white;
    top: 350px;
    position: absolute;
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    right: 200px; 
    text-transform: capitalize;
}

.pokeinfodescription{
    color: white;
    top: 550px;
    position: absolute;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    left: 20px;
}

.formSearch{
    text-align: center;
    margin: 25px auto;
}
.formDisplay{
    text-align: center;
}
.input{
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    border: #7f7f7f solid 5px;
    padding: 1px 6px;
    margin-right: 8px;
    margin-top: 1px;
    border-radius: 5px;
    height: 55px;
    width: 40%;
    font-size: 20px;
    color: #4A80E9;
}
.input, .input::placeholder, footer a{
    color: #4A80E9;
}
.input:focus {
    outline: none;
}
.input:active, .input:focus{
    border: #2cbe48 solid 5px;
}
.submit{
    font-family: Montserrat, sans-serif;
    color: white;
    cursor: pointer;
    position: relative;
    padding: 20px;
    border: 2px solid white;
    border-radius: 2px; 
    bottom : -300px;
    outline: none;
    font-size : 15px;
}
.submitfirst{
    cursor: pointer;
    position: relative;
    padding: 10px;
    border: #4A80E9 solid 5px;
    border-radius: 5px 50px 5px 5px;
    background-color: #CEDCF8;
    height: 55px;
    width: 15%;
    outline: none;
    background-image: url('../img/search1.png');
    background-repeat: no-repeat;
    background-position: 45%;
    background-size: 35px;
    transition-duration: all .6s;
    vertical-align: bottom;
}

.submitfirst:hover{
    background-color: #bdebc6;
    border-color: #2cbe48;
    background-image: url('../img/search2.png');
    transition-duration: .6s;}

/* ---------------  FRAN ------------ */
/*
* {
    box-sizing: border-box;
    font-family: 'DotGothic16', monospace;
}
body{
    background-color: #fafafa;
}
h2{
    font-size: 1.8em;
}
.container {
    width: 70%;
}
header p{
    font-family: 'DotGothic16', monospace;
    font-size: 20px;
    vertical-align: baseline;
}
header, footer{
    width: 100%;
    border: #C83946 solid 10px;
    background-color: #fafafa;
}
header {
    border-radius: 0 0 50px 50px;
}
footer {
    border-radius: 50px 50px 0 0;
    position: fixed;
    bottom: 0;
    text-align: center;
    
}
footer a img{
    height: 20px;
    width: auto;
}
header *{
    display: inline-block;
    vertical-align: baseline;
}
header h1{
    margin-bottom: 0;
}
.img-header{
    width: 150px;
    height: auto;
    transform: translate(0px, 20px);
}
header span{
    margin: 0 15% 0 15%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}
p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 
}

#card{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
#title{
    margin: 0 1em; 
}
#card-container{
    display: flex;
    flex-direction: row;
}
#img-container{
    border: #7f7f7f solid 5px;
    border-radius: 5px;
    display: flex;
    justify-items: center;
    align-items: center;
}
#img-container img{
    width: 200px;
    height: auto;
}
#data-container{
    display: flex;
    align-items: flex-end;
}
#data-container-col1, #data-container-col2, #data-container-col3{
    margin: 0.75em;
}
#data-container-col1{
    margin-left: 3em;
}

*/
